<div class="headerWrapper">
  <div class="leftBlock">
    <app-logo></app-logo>
  </div>
  <div class="rightBlock">
    <div class="avatarWrapper">
      <div class="nameText">
        <div class="firstName">Oleksii</div>
        <div class="secondName">Pilipenko</div>
      </div>
      <div class="avatar"></div>
    </div>
    <div class="exitWrapper">
      <div class="exitText">
        <div class="firstName">Exit</div>
      </div>
      <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="2.777mm" height="2.325mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 277.7 232.5">
         <g id="Layer_x0020_1">
          <path class="arrowClass" d="M141.72 35.49c-7.66,-7.45 -7.83,-19.7 -0.38,-27.36 7.45,-7.66 19.7,-7.83 27.36,-0.38l97.89 95.25c8.13,7.9 7.97,23.31 0,31.06l-97.89 95.25c-7.66,7.45 -19.91,7.28 -27.36,-0.38 -7.45,-7.66 -7.28,-19.91 0.38,-27.36l66.92 -65.12 -194.33 0c-10.71,0 -19.41,-8.7 -19.41,-19.41 0,-10.71 8.7,-19.41 19.41,-19.41l191.27 0 -63.86 -62.14z"/>
         </g>
        </svg>
      </div>
    </div>
  </div>
</div>
