.inputValue {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #BEC2C3;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #EEF3F9;
}
.inputValue:focus {
  outline: none !important;
  border: 2px solid #a5a5a5;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 9%);
}

label {
  position: relative;
}

label > .icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
::ng-deep .mat-mdc-fab {
  background-color: #eef3f9!important;
  border-radius: 30px!important;
  color: #959597!important;
  box-shadow: unset!important;
}
.downloadButton {
  position: absolute;
  height: 33px;
  width: 33px;
  right: 5px;
  top: -7px;
}
.alert {
  color: #ff0000;
  font-size: 13px;
  padding: 0 0 0 5px;
}
