.fil1 {fill:url(#id0);fill-rule:nonzero}
.fil3 {fill:url(#id1);fill-rule:nonzero}
.fil0 {fill:url(#id2);fill-rule:nonzero}
.fil4 {fill:url(#id3);fill-rule:nonzero}
.fil2 {fill:url(#id4);fill-rule:nonzero}

.logoFil2 {fill:#13C495;fill-rule:nonzero}
.logoFil3 {fill:#2572DE;fill-rule:nonzero}
.logoFil1 {fill:#43BE16;fill-rule:nonzero}
.logoFil0 {fill:#758394;fill-rule:nonzero}
.logoFil4 {fill:#FF8A24;fill-rule:nonzero}
