@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoSlab-Thin.ttf") format("opentype");
  url("fonts/RobotoSlab-Thin.ttf") format("opentype")
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
  url("fonts/Montserrat-VariableFont_wght.ttf") format("opentype")
  font-weight: normal;
  font-style: normal;
}
/*@font-face {*/
/*  font-family: "MontserratBold";*/
/*  src: url("fonts/Montserrat-SemiBold.ttf") format("opentype");*/
/*  url("fonts/Montserrat-SemiBold.ttf") format("opentype")*/
/*font-weight: normal;*/
/*  font-style: normal;*/
/*}*/
